<html>
    <head>
        <style type = "text/css">
            body{
                background:grey;
                color: white
            }
            div.container {
                max-width: 500px;
                margin: 100px auto;
                border: 20px solid white;
                padding: 10px;
                text-align: center;
            }
            h4 {
                text-transform: uppercase;
            }
            div.control{
                margin: 6px;
                text-align: center;
            }
            label{
                display: inline-block;
                width: 200px;
                vertical-align: top;
            }
            input + label {
                width: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h4>Iris Dataset Prediction</h4>
            <p>Fill in the measurements</p>
        </div>
        <form action="/predict" method="POST" id="form1">
            <div class="control">
                <label for="sepal_length">Sepal Length</label><input id="sepal_length" name="sepal_length" type="number" step="any" required="required"/>
            </div>
            <div class="control">
                <label for="sepal_width">Sepal Width</label><input id="sepal_width" name="sepal_width" type="number" step="any" required="required"/>
            </div>
            <div class="control">
                <label for="petal_length">Petal Length</label><input id="petal_length" name="petal_length" type="number" step="any" required="required"/>
            </div>
            <div class="control">
                <label for="petal_width">Petal Width</label><input id="petal_width" name="petal_width" type="number" step="any" required="required"/>
            </div>
            <div style="margin-top: 50px; text-align: center">
                <button type="submit" form="form1">Predict</button>
                <button type="button" onclick="location.href='/'">Reset</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <div style="text-align: center">
            {{ prediction_text }}
        </div>
       
    </body>
</html>